<%- include('layout/userheader'); -%>











</div>

<br><br>
<!-- OFFER IMG -->
<!--  -->

<div class="o-img">
    <div class="product-offer " style="height: 200px;">
        <img class="img-fluid" src="/public/images/offer-1.jpg" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">Save 20%</h6>
            <h3 class="text-white mb-3">Special Offer</h3>
            <a href="" class="btn btn-primary">Shop Now</a>
        </div>
    </div>
</div>
<!-----------PRODUCTS----->

 <!-- Products Start -->
 <div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
    <div class="row px-xl-5">
        
        <!-- <div class="col-lg-3 col-md-4 col-sm-6 pb-1 ">
           
            <% AllProducts.forEach (function (p){%>
            <a class="product-item " href="#">
            
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="/public/images/<%= p.productPictures[0] %>" alt="">
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href=""><%= p.title %></a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5><%= p.price %></h5><h6 class="text-muted ml-2"><del><%= p.price %></del></h6>
                    </div>
                    <button class="btn btn-primary">Add To Cart</button>
                </div>
             </a>
             

             <% });%>
        </div> -->
       
       
    </div>
    <div class="product-items">
        <% AllProducts.forEach (function (p){%>
        <a href="/api/products/find/<%= p._id %>" class="products">
            <div class="pro-img">
                <img src="/public/images/<%= p.productPictures[0] %>" alt="" srcset="">
            </div>
            <div class="pro-det">
                <h1><%= p.title %></h1>
                <h4><%= p.price %></h4>
                <button class="btn btn-primary">Add To Cart</button>
            </div>
        </a>
        <% });%>
    </div>
</div>
<!-- Products End -->









<!-----------PRODUCTS----->

 <!-- Products Start -->
 <div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="product-item" href="#">
            
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-1.jpg" alt="">
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                    <button class="btn btn-primary">Add To Cart</button>
                </div>
             </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="product-item" href="#">
            
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-1.jpg" alt="">
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                    <button class="btn btn-primary">Add To Cart</button>
                </div>
             </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="product-item" href="#">
            
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-1.jpg" alt="">
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                    <button class="btn btn-primary">Add To Cart</button>
                </div>
             </a>
        </div>
       
    </div>
</div>
<!-- Products End -->



<%- include('layout/userfooter'); -%>