<%- include('layout/userheader'); -%>

<div class="nav-bar">
    <div class="nav-a">
        <a href="" class="text-decoration-none d-block ">
            <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
            <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
        </a>
    </div>
    <div class="nav-b">
        <div class="nav-link">
            <a href="">Login</a>
        </div>
        <div class="nav-link">
            <a href="">Regster</a>
        </div>
    </div>
    <div class="nav-c">
        <a href="" class="btn px-0 ml-3">
            <i class="fas fa-shopping-cart text-primary"></i>
            <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
        </a>
    </div>
</div>









</div>

<br><br>
<!-- OFFER IMG -->
<div class="container-fluid mb-3 d-flex justify-content-center">
   
    <div class="col-lg-8  ">
        <div class="product-offer mb-30" style="height: 200px;">
            <img class="img-fluid" src="/public/images/offer-1.jpg" alt="">
            <div class="offer-text">
                <h6 class="text-white text-uppercase">Save 20%</h6>
                <h3 class="text-white mb-3">Special Offer</h3>
                <a href="" class="btn btn-primary">Shop Now</a>
            </div>
        </div>
        
    </div>

   
</div>
<!-- IMG -->


<!-----------PRODUCTS----->

 <!-- Products Start -->
 <div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
    <div class="row px-xl-5">
        
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1 ">
           
            <% AllProducts.forEach (function (p){%>
            <a class="product-item " href="#">
            
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="/public/images/<%= p.productPictures[0] %>" alt="">
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href=""><%= p.title %></a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5><%= p.price %></h5><h6 class="text-muted ml-2"><del><%= p.price %></del></h6>
                    </div>
                    <button class="btn btn-primary">Add To Cart</button>
                </div>
             </a>
             

             <% });%>
        </div>
       
       
    </div>
</div>
<!-- Products End -->









<!-----------PRODUCTS----->

 <!-- Products Start -->
 <div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="product-item" href="#">
            
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-1.jpg" alt="">
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                    <button class="btn btn-primary">Add To Cart</button>
                </div>
             </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="product-item" href="#">
            
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-1.jpg" alt="">
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                    <button class="btn btn-primary">Add To Cart</button>
                </div>
             </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="product-item" href="#">
            
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="img/product-1.jpg" alt="">
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                    <button class="btn btn-primary">Add To Cart</button>
                </div>
             </a>
        </div>
       
    </div>
</div>
<!-- Products End -->



<%- include('layout/userfooter'); -%>