<%- include('../layout/userheader'); -%>

<style>
    input {
      height: 60px;
    }
    .cate-div input{
      width: 300px;
    }
    .images{
      display: flex;
     padding: 10px;
     margin-bottom: 15px;
    }
    .Images-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  }
    .Images-1 img{
      width: 150px;
      object-fit: cover;
    }
  </style>
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 align-items-center" style="margin-bottom: 30px">
        <div class="heading text-center">
          <h4 class="">Edit Order Address</h4>
        </div>
  
        <div class="formm">
          <form class="mt-2" id="ff1" method="post"  action="/api/order/edit-order/<%= order._id %>">
            <div class="form-group">
                <label for="">Order User Name :</label>
              <input
                type="text"
                class="form-control"
                placeholder="User Name :"
                name="name"
                value="<%= order.name %>"
                required
              />
            </div>
            <div class="form-group">
                <label for="">Pincode :</label>
              <input
                type="text"
                class="form-control"
                placeholder="Pincode :"
                value="<%= order.pincode %>"
                name="pincode"
                required
              />
            </div>
            <div class="form-group">
                <label for="">Mobile No :</label>
              <input
                type="text"
                class="form-control"
                placeholder="Mobile No :"
                value="<%= order.mobileno %>"
                name="mobileno"
                required
              />
            </div>
            <div class="form-group">
                <label for="">Address :</label>
              <input
                type="text"
                class="form-control"
                placeholder="Address :"
                value="<%= order.address %>"
                name="address"
                required
              />
            </div>


            
           


            <button type="submit" class="btn btn-success">Edit Address</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <%- include('../layout/userfooter'); -%>