<%- include('../layout/userheader'); -%>





    <!-- Checkout Start -->
    <div class="container-fluid mt-4"  >
        <div class="row px-xl-5">
            <form action="/api/order" method="post" id="check-out-form">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Name</label>
                            <input class="form-control" type="text" placeholder="John" name="name" required>
                        </div>
                        
                        
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" name="mobileno" placeholder="+123 456 789"required>
                        </div>
                        <!-- <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input class="form-control" type="text" placeholder="123 Street">
                        </div> -->
                        <div class="col-md-6 form-group">
                            <label>Address</label>
                            <input class="form-control" type="text" name="address" placeholder="123 Street" required>
                        </div>
                        <!-- <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select">
                                <option selected>United States</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div> -->
                        <div class="col-md-6 form-group">
                            <label>Pin Code</label>
                            <input class="form-control" type="text" name="pincode" placeholder="123" required>
                        </div>
                      
                       
                    </div>
                </div>
               
            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom">


                        <table class="table table-light table-borderless table-hover text-center mb-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                <% products.forEach (function (p){%>
                                <tr>
                                    <td class="align-middle"><img src="img/product-1.jpg" alt="" style="width: 50px;"><%= p.productName %></td>
                                    <td class="align-middle"><%= p.price %></td>
                                    
                                    <td class="align-middle"><%= p.quantity %></td>
                                    <td class="align-middle"><%= p.total %></td>

                                    <!-- <input type="text" name="product" value="<%= p.proId %>" hidden>
                                    <input type="text" name="quantity" value="<%= p.quantity %>" hidden> -->
                                    
                                </tr>
                                <% });%>
                            </tbody>
                        </table>
                    </div>
                    <div class="border-bottom pt-3 pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6><%= total %></h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">Free</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5><%= total %></h5>
                        </div>
                     
                    </div>
                </div>
                <div class="mb-5">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                    <div class="bg-light p-30">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal" value="razorpay" >
                                <label class="custom-control-label" for="paypal">Razor Pay</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck" value="cod">
                                <label class="custom-control-label" for="directcheck">COD</label>
                            </div>
                        </div>
                        <!-- <div class="form-group mb-4">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div> -->
                        <button type="submit" class="btn btn-block btn-primary font-weight-bold py-3">Check Out</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
    <!-- Checkout End -->
    
    <script>
        $("#check-out-form").submit((e)=>{
            e.preventDefault()
            $.ajax({
                url:'/api/order',
                method:'post',
                data:$('#check-out-form').serialize(),
                success:(response)=>{
                    if(response.codStatus){
                        
                        location.href='/api/order/order-success'
                    }else if(response.razorpay){
                        alert('Razor Pay')
                        console.log('Razor Pay',response.razorpay);
                        razorPay(response.razorpay)
                    }else{
                        alert('NO ITEM')
                    }
                   
                }

            })
        })


        function razorPay(order){
            
            var options = {
               
                "key": 'rzp_test_PHhjalEWKi4Taw', // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Shoping Cart",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response){
                    // console.log(response),
                    // alert(response.razorpay_payment_id);
                    // alert(response.razorpay_order_id);
                    // alert(response.razorpay_signature);
                    
                    verifyRazorPayment(response,order)

                },
                "prefill": {
                    "name": "Shoping MAn",
                    "email": "shop@example.com",
                    "contact": "9999999999"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };

            var rzp1 = new Razorpay(options);

            rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
            });
            rzp1.open();
           
        }
       function verifyRazorPayment(payment,order){
           console.log('payment',payment);
            $.ajax({
                url:'/api/order/verify-payment',
                data:{
                    payment,
                    order
                    
                },
                method:'post',
                success:(response)=>{
                    
                    if (response.razorpay) {
                        // console.log('response',response.razorPay);
                        location.href='/api/order/order-success'
                    } else {
                        location.href='/api/order/'
                    }
                }
            })
        }
    </script>


<%- include('../layout/userfooter'); -%>